/* .form__radio-fields {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  grid-row-gap: 10px;
  margin-bottom: 20px;
} */

.form__radio-fields {
  display: flex;
  flex-wrap: wrap;
}
