.form__tip {
  color: #AFAFAF;
  font-size: 13px;
  line-height: 17px;
  max-width: 256px;
  padding: 12px;
  border-radius: 6px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  margin: 0;
  margin-bottom: 51px;
}
