@import './blocks/page/page.css';
@import './blocks/lead/lead.css';
@import './blocks/header/header.css';
@import './blocks/button/button.css';
@import './blocks/separator/separator.css';
@import './blocks/form/form.css';
@import './blocks/text-field/text-field.css';
@import './blocks/radio-field/radio-field.css';
@import './blocks/terms-field/terms-field.css';

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'barlow';
  src: url('./vendor/fonts/barlow/Barlow-Regular.otf') format('otf');
}
