.lead__cover {
  width: calc(50% + 40px);
  position: relative;
  background-image: url('../../img/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width:1024px) {
  .lead__cover {
    width: 100%;
    min-height: 400px;
  }
}
