.header__button_logo_fc {
  background-color: #255A9B;
}

.header__button_logo_fc::after {
  background-image: url('../../img/facebook.svg');
}

@media (max-width:768px) {
  .header__button_logo_fc {
    margin-bottom: 16px;
  }
}
