@import './__button_logo_fc.css';
@import './__button_logo_li.css';

.button.header__button {
  position: relative;
  padding-left: 50px;
  text-align: left;
}

.header__button::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: 15px;
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: left;
}
