.radio-field__info {
  display: inline-block;
  text-align: center;
  margin-left: 10px;
  width: 10px;
  height: 10px;
  font-size: 8px;
  color: #7B8A92;
  border: 1px solid #7B8A92;
  border-radius: 50%;
}

.radio-field__info:hover {
opacity: 0.6;
}
