@import './__button.css';
@import './__custom-button.css';
@import './__info.css';

.radio-field {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 29px;
  font-size: 14px;
}
